/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
composer.lock
package-lock.json
storage/framework/*
storage/logs/*
storage/app/public/*
!storage/app/public/.gitkeep
*.log
*.tmp
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDSLa+W37l9/FLXaAKpzT+Eef8zLHUdgHC5DOcNAuCnzrYJe2qR4M4S0We+RG6UZ43t2HpnpCQ7nzpfhjebyRNZy1zf9b6GqFOeiiKaRTobWGBbnap0zUjOIZtiQNRks2AlTHQab2Alka42zshNTKJ92Xvqr63s02kfbYQ7Ka8zj+HwYYJiO3aKrJXe00j2sIifcaXr57riioQ3jwgnqZnfIPqa8tcIZKLkES/A6KVo5SgxApKbJekZHV3vr2usu9sdSNElhwuyJPphujPGyLCjt6XE9trokbflWiolz2M/nu5gq3k0XP5bsDIkNCun/lUkqnxB2zUsIajc7bkReVRtSgessAPDJiDQnW3mURTsudbEdR2IPVIl0cyNdOMhcGKuIbWv9epa8AC1bj7O1iWTvyqHhxjbCP183I7whKQHy0ZKfqn3ntRFMVWz1qlfsjoSbWhDXuaBZKYYzEVysNS43FFzsN38c3v5+02IcPpnaU9o/zgNTjx60yEnbXUe1lDcWGbeXByegFPRlfbrEH+CKS0qQMNee423rZ92DVzWpu9iBuqdLiDNpDdKE2vJg67Wa1BKBCX31fZhd6jeqZnuNZKeNVE77NWrvnWcf4fnR3iyg0djBQsITAiacQY2T2kiOKrsdJs8zgT8YTSGWNAFxUbU18Qn8YaxATTZobPJGQ== anhviet21102@gmail.com
